<li id="comment-<%= comment.id %>">
    <h5 class="comment-author"><span>User name:</span><%= comment.user.name %></h5>
    <h5><span>Post: </span><%= time_ago_in_words(comment.created_at) %> ago.</h5>
    <div class="comment-content">
      <span>Comment:</span>
      <%= comment.content %>
    </div>
    <div class="comment-link">
     
      <% if current_user?(comment.user) %>
        <%= link_to "edit", 'javascript:void(0)' , class: "edit-comment" %>
        |
        <%= link_to "delete", comment, method: :delete, data: { confirm: "You sure?" }, remote: true %>
      <% end %>
    </div>
  </li>